* {
  background-color: #FEF6F0;
  border: 1px solid magenta;
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
}

.entire-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.five-color-display {
  display: flex;
  justify-content: space-evenly;
  height: 40%;
  width: 100%;

}

.color {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: calc(100vh/5);
}

.single-color-sample {
  height: 100px;
  width: 12vw;
  background-color: black;

}

p {

}

.saved-section {
  width: 20%;
}
